In [1]:
import pandas as pd

In [2]:
allergy = pd.read_excel('C:/Users/jilli/Desktop/food-allergy-analysis-Zenodo-final.xlsx')

In [3]:
allergy.head()

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,PAYERFACTOR,ATOPICMARCHCOHORT,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Viewing RACEFACTOR value counts

In [5]:
allergy['RACEFACTOR'].value_counts()

R0 - White                        183308
R1 - Black                         97795
R4 - Unknown                       40940
R2 - Asian or Pacific Islander      9152
R3 - Other                          2005
Name: RACEFACTOR, dtype: int64

In [6]:
#Will use 0 for White, 1 for Black, 2 for Asian or Pacific Islander, 3 for Other, 4 for Unknown.

In [7]:
def RACEFACTOR_recode (series):
    if series == "R0 - White":
        return 0
    if series == "R1 - Black":
        return 1
    if series == "R2 - Asian or Pacific Islander":
        return 2
    if series == "R3 - Other":
        return 3
    if series == "R4 - Unknown":
        return 4

In [8]:
allergy['RACEFACTOR']=allergy['RACEFACTOR'].apply(RACEFACTOR_recode)

In [9]:
allergy.head()

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,PAYERFACTOR,ATOPICMARCHCOHORT,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,S1 - Female,1,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,0,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,0,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,4,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,1,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Success. Now onto GENDERFACTOR

In [11]:
allergy['GENDERFACTOR'].value_counts()

S0 - Male      169032
S1 - Female    164168
Name: GENDERFACTOR, dtype: int64

In [12]:
#Will use 0 for Male, 1 for Female.

In [13]:
def GENDERFACTOR_recode (series):
    if series == "S0 - Male":
        return 0
    if series == "S1 - Female":
        return 1

In [14]:
allergy['GENDERFACTOR']=allergy['GENDERFACTOR'].apply(GENDERFACTOR_recode)

In [15]:
allergy.head()

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,PAYERFACTOR,ATOPICMARCHCOHORT,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,1,1,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,1,0,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0,0,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,0,4,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,1,1,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Done. Now onto ETHNICITYFACTOR.

In [17]:
allergy['ETHNICITYFACTOR'].value_counts()

E0 - Non-Hispanic    317868
E1 - Hispanic         15332
Name: ETHNICITYFACTOR, dtype: int64

In [18]:
#Will use 0 for Non-Hispanic, 1 for Hispanic.

In [19]:
def ETHNICITYFACTOR_recode (series):
    if series == "E0 - Non-Hispanic":
        return 0
    if series == "E1 - Hispanic":
        return 1

In [20]:
allergy['ETHNICITYFACTOR']=allergy['ETHNICITYFACTOR'].apply(ETHNICITYFACTOR_recode)

In [21]:
allergy.head()

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,PAYERFACTOR,ATOPICMARCHCOHORT,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,1,1,0,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,1,0,0,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0,0,1,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,0,4,1,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,1,1,0,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#Now to drop PAYERFACTOR

In [23]:
allergy.drop(['PAYERFACTOR'], axis=1)

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,ATOPICMARCHCOHORT,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,SHELLFISHALGEND,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,1,1,0,False,0.093087,3.164956,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,1,0,0,False,12.232717,18.880219,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0,0,1,True,0.010951,6.726899,NaN,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,0,4,1,False,2.398357,9.111567,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,1,1,0,False,0.013689,6.193018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0,0,0,False,0.736482,7.449692,NaN,NaN,...,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,1,1,0,True,0.019165,6.984257,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,0,0,0,False,0.443532,7.405886,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,0,3,0,True,0.013689,7.017112,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,1,0,0,False,0.019165,3.014374,NaN,NaN,...,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
allergy.drop(['PAYERFACTOR', 'ATOPICMARCHCOHORT'], axis=1)

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,SHELLFISHALGEND,FISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,1,1,0,0.093087,3.164956,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,1,0,0,12.232717,18.880219,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0,0,1,0.010951,6.726899,NaN,NaN,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,0,4,1,2.398357,9.111567,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,1,1,0,0.013689,6.193018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0,0,0,0.736482,7.449692,NaN,NaN,NaN,...,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,1,1,0,0.019165,6.984257,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,0,0,0,0.443532,7.405886,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,0,3,0,0.013689,7.017112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,1,0,0,0.019165,3.014374,NaN,NaN,NaN,...,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
allergy.fillna(0)

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,PAYERFACTOR,ATOPICMARCHCOHORT,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,1,1,0,P1 - Medicaid,False,0.093087,3.164956,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1,2,1994,1,0,0,P0 - Non-Medicaid,False,12.232717,18.880219,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.262834,18.880219,2.0
2,3,2006,0,0,1,P0 - Non-Medicaid,True,0.010951,6.726899,0.0,...,0.0,4.884326,0.000000,3.917864,6.157426,5.127995,0.000000,1.404517,6.157426,4.0
3,4,2004,0,4,1,P0 - Non-Medicaid,False,2.398357,9.111567,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,5,2006,1,1,0,P0 - Non-Medicaid,False,0.013689,6.193018,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0,0,0,P0 - Non-Medicaid,False,0.736482,7.449692,0.0,...,0.0,0.736482,0.000000,0.000000,0.000000,5.426420,7.449692,0.000000,0.000000,0.0
333196,333197,2006,1,1,0,P1 - Medicaid,True,0.019165,6.984257,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
333197,333198,2006,0,0,0,P0 - Non-Medicaid,False,0.443532,7.405886,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,2.321697,0.000000,2.321697,6.650240,4.0
333198,333199,2006,0,3,0,P0 - Non-Medicaid,True,0.013689,7.017112,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
333199,333200,2006,1,0,0,P0 - Non-Medicaid,False,0.019165,3.014374,0.0,...,0.0,0.347707,0.347707,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [26]:
allergy.drop(['PAYERFACTOR', 'ATOPICMARCHCOHORT'], axis=1)

,SUBJECTID,BIRTHYEAR,GENDERFACTOR,RACEFACTOR,ETHNICITYFACTOR,AGESTARTYEARS,AGEENDYEARS,SHELLFISHALGSTART,SHELLFISHALGEND,FISHALGSTART,...,CASHEWALGEND,ATOPICDERMSTART,ATOPICDERMEND,ALLERGICRHINITISSTART,ALLERGICRHINITISEND,ASTHMASTART,ASTHMAEND,FIRSTASTHMARX,LASTASTHMARX,NUMASTHMARX
0,1,2006,1,1,0,0.093087,3.164956,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,1,0,0,12.232717,18.880219,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0,0,1,0.010951,6.726899,NaN,NaN,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,0,4,1,2.398357,9.111567,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,1,1,0,0.013689,6.193018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0,0,0,0.736482,7.449692,NaN,NaN,NaN,...,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,1,1,0,0.019165,6.984257,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,0,0,0,0.443532,7.405886,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,0,3,0,0.013689,7.017112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,1,0,0,0.019165,3.014374,NaN,NaN,NaN,...,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#recode age into months / years

In [28]:
allergy.AGESTARTYEARS.value_counts()

 0.010951     18201
 0.013689     17773
 0.016427     16645
 0.019165     15020
 0.008214      8735
              ...
 17.180014        1
-0.095825         1
-0.235455         1
 17.341547        1
 17.524983        1
Name: AGESTARTYEARS, Length: 6480, dtype: int64

In [29]:
import numpy as np

In [30]:
allergy.AGESTARTYEARS.describe()

count    333200.000000
mean          3.942140
std           4.646174
min          -4.312115
25%           0.021903
50%           1.763176
75%           7.208761
max          17.984942
Name: AGESTARTYEARS, dtype: float64

In [31]:
import pandas as pd

In [32]:
allergy.loc[:,"AGESTARTYEARS"]

0          0.093087
1         12.232717
2          0.010951
3          2.398357
4          0.013689
            ...
333195     0.736482
333196     0.019165
333197     0.443532
333198     0.013689
333199     0.019165
Name: AGESTARTYEARS, Length: 333200, dtype: float64

In [33]:
data = allergy.loc[:,"AGESTARTYEARS"]

In [34]:
allergy = pd.DataFrame(data, columns=['AGESTARTYEARS'])

In [35]:
allergy

        AGESTARTYEARS
0            0.093087
1           12.232717
2            0.010951
3            2.398357
4            0.013689
...               ...
333195       0.736482
333196       0.019165
333197       0.443532
333198       0.013689
333199       0.019165

[333200 rows x 1 columns]

In [36]:
###we need to somehow use the function below for only numbers <1

In [37]:
allergy

        AGESTARTYEARS
0            0.093087
1           12.232717
2            0.010951
3            2.398357
4            0.013689
...               ...
333195       0.736482
333196       0.019165
333197       0.443532
333198       0.013689
333199       0.019165

[333200 rows x 1 columns]

In [38]:
allergy['AgeMonths'] = allergy.apply(lambda row: (row.AGESTARTYEARS * 12) - row.AGESTARTYEARS, axis = 1)

In [39]:
print(allergy)

        AGESTARTYEARS   AgeMonths
0            0.093087    1.023956
1           12.232717  134.559891
2            0.010951    0.120465
3            2.398357   26.381930
4            0.013689    0.150582
...               ...         ...
333195       0.736482    8.101300
333196       0.019165    0.210815
333197       0.443532    4.878850
333198       0.013689    0.150582
333199       0.019165    0.210815

[333200 rows x 2 columns]

In [41]:
def Age (series):
    if series <= 2:
        return  "2"
    if series <= 4:
        return "4"
    if series <= 6:
        return "6"
    if series <= 10:
        return "10"
    else:
        return "11 - 17"
    
allergy["StartAge"] = allergy['AGESTARTYEARS'].apply(Age)

In [42]:
allergy["StartAge"].value_counts()

2          170240
10          49896
11 - 17     49809
4           33216
6           30039
Name: StartAge, dtype: int64